
//Neat Grids
//$visual-grid: true;
$visual-grid-color: yellow;
$visual-grid-index: back;
$visual-grid-opacity: 0.5;
$grid-columns: 9;




// colors
$shamrock: #26A65B;
$riptide: #86E2D5;
$porcelain: #ECF0F1;
$downy: #65C6BB;
$madang: #C8F7C5;
$dark-blue: #2C3E50;
$orange: #F39C12;